<!doctype html>
<html>
	<head>
		{%block heads%}
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width,initial-scale=1.0">

		{%endblock%}

		{%block styles%}
			<link rel="stylesheet" href="{{url_for('static',filename='dist/css/bootstrap.min.css')}}">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
			<style>
				
				.unread{
					opacity:0.5;
					

				}
				
				.post{
					font-family:"Trirong"
				}
				.title{
					font-family:"Sofia"

				}
				.time{

					font-family:"Sofia";
					font-size:18px;
				}

			</style>
		{%endblock%}
	</head>

	<body class="bg-light">
		{%block navbar%}
		<nav class="navbar  navbar-light  text-primary  bg-white fixed-top">
			<div class="container">
				<button type="button" class="navbar-toggler" data-bs-toggle="collapse"data-bs-target="#navbarSection">
					<span class="navbar-toggler-icon"></span>
				</button>
				<a href="#" class="navbar-brand text-primary title">Random Post<img src="{{url_for('static',filename='logo.png')}}" style="width:50px"></a>
				
				<div class="collapse navbar-collapse" id="navbarSection">
					<ul class="navbar-nav">
						{%if current_user.is_authenticated%}
						<li class="navbar-item">
							<form method="post" class="border border-3 mb-2  mt-2 mx-auto">
							{{post_form.hidden_tag()}}
							<fieldset>
								<legend class="text-primary mt-1 lead  ms-2 title">Enter Your Post</legend>	
							{{post_form.title(class="text-start mb-2   form-control w-75 ms-2 rounded-pill",placeholder="Title of your post")}}
							{{post_form.post_body(rows="6",class="w-75 rounded-3 me-2 mt-2 mb-2 form-control ms-2",placeholder="Enter your post")}}
							{{post_form.submit(id="sumbit",class="btn ms-2 mt-2 mb-1 btn-primary text-white btn-block rounded-pill")}}
							</fieldset>
													</form>	
						</li>
						{%endif%}
						<li class="navbar-item">
						  {% if current_user.is_anonymous%}


							<a class="btn  nav-link rounded-pill btn-primary text-white" href="{{url_for('auth.login')}}">Login</a>

							{%endif%}			

						</li>
						<li class="nav-item">
							{%if current_user.is_authenticated%}
							 <a class="btn text-white btn-lg rounded-pill  btn-primary nav-link"href="{{url_for('auth.logout')}}">Logout</a>
							{%endif%}

						</li>
					
					</ul>
				

				</div>
			</div>

		</nav>
		{%endblock%}
		{%block contents%}

		{%endblock%}

		{%block scripts%}

			<script src="{{url_for('static',filename='dist/js/bootstrap.bundle.min.js')}}"></script>
			{{moment.include_moment()}}
			{{pagedown.include_pagedown()}}
		{%endblock%}

	</body>


</html>
